.pag
    width: 100vw
    margin: 0 auto
    height: 100vh
    
.images
    display: flex
    flex-direction: row
    flex-wrap: wrap
    column-gap: 1rem
    margin: 3rem 4rem
    img
        margin: 2rem auto
        width: 20rem
        height: 20rem
        cursor: pointer
        transition: all linear 0.4s
    img:hover
        filter: grayscale(100%)
        transform: scale(1.1)


