

footer
    text-align: center
    font-size: 1.6rem
    background: #fff
    width: 100vw
    height: 14%
    //border-top: 15px ridge gray
    box-shadow: 1px 1px 10px 1px gray
    .iconfooter
        display: flex
        justify-content: space-between
        align-items: center
        width: 20rem
        margin: 1rem auto
        font-size: 3rem


    
